.work-container {
    display: flex !important ;
    justify-content: space-around !important ;
    flex-wrap: wrap !important ;
    align-items: center !important ;
    margin: 5rem 0 !important ;
  }
  
  .work-box {
    width: 20rem !important;
    height: 70px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 24px !important;
    color: white !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    cursor: pointer !important;
    background-color: #a83c27 !important;
  }