table {
    width: 100% !important;
    border-collapse: collapse !important;
  }
.table-container{
  box-shadow: 5px 5px 5px 1px #888888 !important;
  margin: 1rem !important;
}
  th, td {
    padding: 12px !important;
    border: 1px solid #ddd !important;
  }

  th {
    background-color: #f2f2f2 !important;
    color: red !important;
  }
.headcss_closing{
  color: green !important;
}
.headcss{
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  margin: .5rem 2rem !important;
  font-weight: 900 !important;
}
.headcss_2{
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  margin: 0 2rem !important;
  font-weight: 500 !important;

}
.headcss_name{
  height: 5rem !important;
}

  /* Responsive table styles */
  @media screen and (max-width: 600px) {
    table {
      width: 100% !important;
    }

    thead {
      display: none !important; /* Hide table header on small screens */
    }

    td:before {
      content: attr(data-label) !important;
      font-weight: bold !important;
      display: block !important;
      margin-bottom: 5px !important;
    }

    td {
      display: block !important;
    }
  }